<% if (notice = flash[:notice]) %>
  <div data-controller="flash" class="mb-4 rounded-md bg-green-50 px-3 py-2 text-sm font-medium text-green-700"><%= notice %></div>
<% end %>

<% if (alert = flash[:alert]) %>
  <div class="mb-4 rounded-md bg-red-50 px-3 py-2 text-sm font-medium text-red-700"><%= alert %></div>
<% end %>
